.start{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	transitions:all 1s;
}
.start_box{
    position: absolute;
    left: 0px;
    width: 400vw;
    height: 100vh;
    transitions:all 1s;
    top: 0px;
}
.start1,.start2,.start3,.start4{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
}
.start_timer{
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 10px 15px;
	background-color: rgba(0,0,0,0.3);
	z-index: 9999;
}
.start_next{
	position: absolute;
	left: 40%;
	padding: 5px 10px;
	border:1px solid rgba(0,0,0,.5);
	border-radius:15px;
	bottom: 5rem; 
	background-color: rgba(0,0,0,0.3)
}
.start1{
	background-image: url(http://uploads.xuexila.com/allimg/1609/857-160Z91510253I.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 0vw;
}
.start2{
	background-image: url(http://photocdn.sohu.com/20151201/Img429015301.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left:100vw;
}
.start3{
	background-image: url(http://pic15.nipic.com/20110702/4345115_092554036000_2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left:200vw;
}
.start4{
	background-image: url(http://pic5.nipic.com/20100114/4154414_130124003738_2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left:300vw;
}
*{
  padding:0px;
  margin: 0px;
  text-decoration: none;
  color: #000;
}
.nav{
	display: flex;
	position: absolute;
	bottom: 0rem;
	width: 100%;
}
.nav >a{
	flex: 1;
	text-align: center;
	font-size: 0.5rem;
	background: #fff;
	height: 1rem;
	line-height: 1rem;
}
.box{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.router_head{
	padding: 1rem 0rem;
	background: #ccc;

}
/* /////////////// */
.comp1{
	display: flex;
	box-sizing: border-box;
	text-align: center;
	font-size: 0.5rem;
	height: 2.5rem;
	margin: 0px 0.8rem;
}
.comp1>div{
	flex: 1 ;
	box-sizing: border-box;
	padding-top: 0.5rem;
	margin: 0rem 1.15rem;
}
/* /////////////// */
.tables{
	display: flex;
	line-height: 1rem;
	margin-bottom: 0.02rem;
	background: #fff;
}
.tables>span{
	text-align: center;
	font-size:0.5rem ;
}
/* /////////////// */
.types{
	display: flex;
	background: #fff;
	padding:0.5rem 0px;
}
.types>div{
	flex: 0.5;
	margin: auto;
	border:1px solid #00ace6 ;
	border-radius:0.25rem;
	height: 1.5rem;
	overflow: hidden;
}
.types>div>span{
	height: 1.5rem;
	line-height: 1.5rem;
	display: inline-block;
	width: 50%;
	text-align: center;
	color:#fff;
}
/* /////////////// */
.Li{
	margin-bottom :0.25rem ;
	background: #fff;
	}
.Li div{
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0px 0.6rem;
}
.Li span{
	font-size:0.5rem ;
}
 .Li .money{
	font-weight: 700;
	color: red;
	font-size: 1.5rem;
	float: right;
}
 .Li .time{
	float: right;
}
/* /////////////// */

   .select-box {
        position: relative;
		 display: inline-block;
        width: 200px;
		background: #fff;
    }
	*{
		user-select: none;
	}
    .select-input {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        line-height: 1rem;
        position: relative;
		font-size: 1rem;
		text-align: center;
        height: 1rem;
        padding: 0 0.25rem;
		background: #fff;
    }

    .x {
    	position: absolute;
    	right: 0.25rem;
    	top: 50%;
    	margin-top: -0.1875rem;
        width: 0;
	    height: 0;
	    border: 0.375rem solid #000;
	    border-left-color: transparent;
	    border-right-color: transparent;
	    border-bottom: none;
		background: #fff;
    }
    .t{
		position: absolute;
    	right: 0.25rem;
    	top: 50%;
    	margin-top: -0.1875rem;;
        width: 0;
	    height: 0;
	    border: 0.375rem solid #000;
	    border-left-color: transparent;
	    border-right-color: transparent;
	    border-top: none;
		background: #fff;
    }

    .select-options {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        min-height: 2.5rem;
        background-color: #fff;
        top: 1.125rem;
        border: 1px solid #ccc;
		background: #fff;
    }

    .select-options>p {
    	font-size:0.4rem;
        line-height: 1rem;
        height: 1rem;
        border-top: 1px solid #ccc;
        text-align: center;
        /* padding: 0; */
        margin: 0;
        margin-top: -1px;
		background: #fff;
    }
	/* /////////////// */
	
.me{
	margin: 0.2rem 0px;
	background: #fff;
	box-sizing: border-box;
	padding: 0px 0.25rem;
	min-height: 2rem;
	line-height: 2rem;
	display: table;
	width: 100%;
}
.me span
{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.me img{
	visibility: middle;
}
.set{
	width: 100vw;
	height: 100vh;
	position:relative;
	background-color: rgba(0,0,0,0.1);
}
.set_hd{
text-align:center;
box-sizing: border-box;
padding: 0px 0.375rem;
background: #fff;
line-height: 1.5em;

}
.set_hd-to{
float: left;
}
.set_hd-ti{

}

.txt{
	font-size: 0.7rem;
	color: #606266;
}
.jiant{
	float: right;
}

.inputs>div{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.inputs input{
	border:none;
	outline: none;
	font-size:0.8rem;
	}
	.inputs  div{
		padding:0.25rem 0.5rem;
		font-size:0.8rem;
	}
.tijiao button{
	width: 100%;
	border:none;
	text-align: center;
	font-size: 0.8rem;
	line-height:1.2rem;
	background: rgb(22, 155, 213);
}
/*//////////////////*/
.songNews{
font-size:0.7rem;
margin-top:0.5rem;
}
.songNews .inputs{
width: 100%;
outline: none;
font-size:0.7rem;
line-height: 1.5em;
text-indent: 1em;
}
.songHeader{
text-align:center;
line-height: 2em;
border-bottom: 1px solid #ccc;
padding: 0px 0.5rem;
}
.songHeader span:nth-child(1){
float: left;
}
.songHeader span:nth-child(3){
float: right;
}
.songGx{
	display: flex;
	font-size:0.5rem;
	line-height: 2em;
	text-align:center;
}
.songGx span{
	flex:1;
}
/*//////////////////*/
.money span{
	font-weight:700;
	color: #199ED8;
	font-size:0.7rem !import;
}
.textarea{
	width: 100%;
	border:none;
	outline: none;
	line-height:2em;
}

.index_more{
	display: flex;
}
.index_more>span{
	flex:1;
	text-align:center;
	line-height: 2em;
	
}
